body {
  font-family: "Bebas Neue", sans-serif;
  cursor: url(./images/cursor.png), auto;
  letter-spacing: 1px;
  background: linear-gradient(45deg, #fbed96 0%, #abecd6 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a:hover,
button:hover {
  cursor: url(./images/cursorHover.png), auto;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  min-height: 400px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 30px;
}

.contact-form h3 {
  text-transform: lowercase;
  margin-bottom: 5px;
}

.contact-form a {
  color: #444444;
}

.contact-form img {
  border-radius: 10px;
}

.img-2_1 {
  animation: bcg 5s infinite;
  position: absolute;
  width: 250px;
  height: 250px;
  top: -100px;
  right: -120px;
  rotate: 20deg;
}

.back-btn {
  font-family: "Oswald", serif;
  letter-spacing: 1px;
  font-weight: 700;
  background: #3a3a3a;
  color: #85ffbd;
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  margin-top: 30px;
  cursor: pointer;
}

.back-btn:hover {
  background: #fffb7d;
  color: #3a3a3a;
  transition: all 0.7s;
}

@keyframes bcg {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 540px) {
  .contact-form {
    min-width: 200px;
    min-height: 100px;
  }
}
